<div aria-hidden="true"
     aria-labelledby="detalhes-do-item-label"
     role="dialog"
     tabindex="-1"
     id="modal-catalogo-item"
     class="modal modal-quick-view fade">

    <div class="modal-dialog"></div>
</div>  