@model CatalogoItemViewModel

<div class="belly-product product-style-2">

    <!--Imagem do item-->
    <div class="product__image">
        <img src="@Model.ImagemUri" alt="">
        <div class="hover-content">
            <a href="product-details-light.html" class="hover-image">
                <img src="@Model.ImagemUri" alt="">
            </a>
            <div class="hover-btns">
                <a href="wishlist-light.html" class="single-btn"><i class="ion-md-heart-empty"></i></a>
                <a href="compare-light.html" class="single-btn"><i class="ion-md-options"></i></a>
                <a href="#" class="single-btn" role="button" @*class="btn btn-primary"*@ data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
            </div>
        </div>
        <span class="product-badge badge--sell-green"></span>
    </div>

    <div class="product-contents">
        <h3 class="product__caption">
            <a href="product-details-light.html">@Model.Nome</a>
        </h3>
        <div class="rating-widget">
            <span class="single-rating"><i class="ion-md-star"></i></span>
            <span class="single-rating"><i class="ion-md-star"></i></span>
            <span class="single-rating"><i class="ion-md-star"></i></span>
            <span class="single-rating"><i class="ion-md-star-half"></i></span>
            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
        </div>

        <div class="product__price">
            <span class="price--old">@*$150*@</span>
            <span class="price--new">@Model.Preco.ToString("N2")</span>
        </div>
        <p class="product-info-para">

        </p>
        <div class="product__btn">
            <a href="cart-light.html" class="theme-btn-outlined--type-2">add to cart</a>
        </div>
    </div>
</div>

