@model PaginacaoInfoViewModel
@{
    var rotaAnteriorDados = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
    if (rotaAnteriorDados.ContainsKey("paginaId"))
        rotaAnteriorDados.Remove("paginaId");
    rotaAnteriorDados.Add("paginaId", (Model.PaginaAtual - 1).ToString());

    var proximaRotaDados = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
    if (proximaRotaDados.ContainsKey("paginaId"))
        proximaRotaDados.Remove("paginaId");
    proximaRotaDados.Add("paginaId", (Model.PaginaAtual + 1).ToString());
}

<div class="pagination-widget">
    <div class="row align-items-sm-center">
        <div class="col-sm-6 text-sm-left">
            <div class="site-pagination">
                <a class="single-pagination @Model.Anterior"
                   id="anterior"
                   asp-all-route-data="rotaAnteriorDados"
                   aria-label="anterior">|<</a>

                <a class="single-pagination @Model.Proximo"
                   id="proximo"
                   asp-all-route-data="rotaAnteriorDados"
                   aria-label="proximo">>|</a>
            </div>
        </div>
        <div class="col-sm-6 text-sm-right">
            <p class="mt-0 mt-sm-3">
                 página @(Model.PaginaAtual + 1) - @Model.TotalPaginas
            </p>
        </div>
    </div>
</div>